<h1>MongooseIM Metrics for <%=@host_name%></h1>
<b>adhoc_local_commands:</b> <%=@mongooseim_metrics[:metrics][:adhoc_local_items][:count]%><br>
<b>amp_determine_strategy:</b> <%=@mongooseim_metrics[:metrics][:amp_determine_strategy][:count]%><br>
<b>anonymous_purge_hook:</b> <%=@mongooseim_metrics[:metrics][:anonymous_purge_hook][:count]%><br>
<b>xmppStanzaSent:</b> <%=@mongooseim_metrics[:metrics][:xmppStanzaSent][:count]%><br>
<b>xmppStanzaReceived:</b> <%=@mongooseim_metrics[:metrics][:xmppStanzaReceived][:count]%><br>